/* -------------------------------------------------------------------------------- */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* --------------------------------------------------------------------- */

:root {
    --orange: #F39237;
    --red: #fa675f;
}

/* --------------------------------------------------------------------- */

[class*="__container"] {
    max-width: 1079px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.page {
    flex: 1 1 100%;
    margin: 120px 0 0 0;
}

.slide-effect {
    position: relative;
    padding: 5px;
}
.slide-effect::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.slide-effect:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.btn {
    padding: 20px 60px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    transition: all ease 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.content-textblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content-header {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0 0 18px 0;
}

.content-desc {
    font-size: 24px;
    line-height: 1.55;
    font-weight: 300;
}

/* ---------------------------------------------------------------------- */

.header {
    background-color: var(--orange);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__container {
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo img {
    width: 230px;
}

.header__navigation {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    
    margin: 10px 9.3% 0 14%;
    color: #fff;
}

.header-nav__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-nav__item {
    font-size: 20px;
}

.header-nav__toggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    display: none;
}
.header-nav__toggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.header-nav__toggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin: 0 0 5px 0;
    position: relative;
    background-color: #fff;
    z-index: 1;
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}
.header-nav__toggle span:first-child {
    transform-origin: 0% 0%;
}
.header-nav__toggle input:checked ~ span {
    opacity: 1;
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
    background: #36383f;
}
.header-nav__toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
.header-nav__toggle input:checked ~ span:nth-last-child(2) {
    bottom: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}


/* ------------------------------------------------------------------------- */

.first-screen {
    background-color: var(--orange);
    overflow: hidden;
    max-height: calc(100vh - 120px);
}

.first-screen__container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.first-screen__textblock {
    padding: 42px 0;
    margin: 20px 0 0 0 ;
}

.first-screen__header {
    padding: 20px 0;
    font-size: 54px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
}
.first-screen__desc {
    font-size: 28px;
    line-height: 1.55;
    color: #fff;
    font-weight: 300;
    padding: 0 0 50px 0;
}

.first-screen__image {
    flex: 0 0 50%;
    margin: 0 0 -250px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.first-screen__image img {
    width: 50%;
    height: 80%;
}

/* ------------------------------------------------------------------------- */

.functions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.functions__container {
    display: flex;
    flex-direction: column;
    margin: 150px 0;
    align-items: center;
    width: 100%;
}
.functions__textblock {
    margin: 0 0 45px 0;
    text-align: center;
    width: 57%;
}
.functions__header {
    margin: 0 0 20px 0;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
.functions__desc {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 300;
}
.functions__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0 0 0;
    gap: 40px;
}

.functions__card {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}
.functions-card__img {
    width: 100px;
    height: 100px;
}
.functions-card__header {
    margin: 50px 0 30px 0;
    line-height: 1.35;
    font-weight: 600;
}
.functions-card__desc {
    line-height: 1.55;
}

/* ------------------------------------------------------------------------- */

.food-news {
    background-color: var(--orange);
}
.food-news__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.food-news__value {
    padding: 90px 0 30px 0;
    font-size: 42px;
    line-height: 1.17;
    font-weight: 600;
    color: #fff;
}
.food-news__content {
    width: 100%;
    margin: 30px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.food-news__image {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    
}

.food-news__image img {
    width: 80%;
    height: 80%;
}

.food-news__textblock {
    color: #fff;
    flex: 0 1 45%;
    width: 32.4%;
}


/* ------------------------------------------------------------------------- */


.lawyers__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lawyers__value {
    padding: 90px 0 30px 0;
    font-size: 42px;
    line-height: 1.17;
    font-weight: 600;
}
.lawyers__content {
    width: 100%;
    margin: 30px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lawyers__image {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
}

.lawyers__image img {
    width: 80%;
    height: 80%;
}

/* ------------------------------------------------------------------------- */

.friends {
    background-color: var(--orange);
}
.friends__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friends__value {
    padding: 90px 0 30px 0;
    font-size: 42px;
    line-height: 1.17;
    font-weight: 600;
    color: #fff;
}
.friends__content {
    width: 100%;
    margin: 30px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.friends__image {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
}

.friends__image img {
    width: 80%;
    height: 80%;
}
.friends__textblock {
    color: #fff;
}

/* ------------------------------------------------------------------------- */


.documents__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.documents__value {
    padding: 90px 0 30px 0;
    font-size: 42px;
    line-height: 1.17;
    font-weight: 600;
}
.documents__content {
    width: 100%;
    margin: 30px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.documents__image {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
}

.documents__image img {
    width: 80%;
    height: 80%;
}

/* ------------------------------------------------------------------------- */

.teammates {
    margin: 150px 0;
}
.teammates__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teammates__header {
    margin: 0 0 20px 0;
    font-size: 38px;
    line-height: 1.2;
    font-weight: 600;
}
.teammates__desc {
    width: 52%;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
}
.teammates__cards {
    margin: 50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}
.teammates__card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teammates__icon {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 20px 0;
}
.teammates__icon img {
    width: 200px;
    height: 200px;
}

.teammates__name {
    margin: 0 0 4px 0;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600;
    text-transform: capitalize;
}
.teammates__role {
    font-size: 12px;
    color: #7a7a7a;
    line-height: 1.55;
    font-weight: 300;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------------- */

.social-links {
    background-color: #000;
}
.social-links__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links__socials {
    display: flex;
    align-items: center;
    margin: 120px 0 60px 0;
}
.social-links__link {
    margin: 0 5px;
    background-color: #fff;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.social-links__link:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff ;
}

.social-links__link img {
    width: 50%;
    height: 50%;
}

.social-links__value {
    margin: 30px 0 45px 0;
    color: #fff;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 600;
    text-align: center;
}
.social-links__btn {
    background-color: var(--red);
    color: #fff;
    margin: 0 0 100px 0;
}


/* ------------------------------------------------------------------------- */

.footer {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


.footer__links {
    margin: 75px 0 10px 0;
    display: flex;
    align-items: center;
}

.footer__link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0 20px;
}

.footer__logo {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo img {
    width: 150px;
}

.footer__content {
    font-size: 14px;
    line-height: 1.45;
    font-weight: 300;
    opacity: 0.7;
    color: #fff;
    margin-bottom: 50px;
}

/* ------------------------------------------------------------------------- */

